@use '../../styles/variables'

.root
    flex: 1
    display: flex
    flex-direction: column
    gap: 30px
    background-color: variables.$white
    padding: 32px
    border-radius: 25px 25px 0 0

    @media (min-width: 1024px)
        flex-direction: row

        max-width: 920px
        margin: 0 auto

        border-radius: 25px

        padding: 45px 32px 45px 48px
        gap: 48px

.controllers
    display: flex
    flex-direction: column
    gap: 32px

    @media (min-width: 1024px)
        flex: 1
        gap: 40px

.customInput

    & input
        padding: 5px 15px
        text-align: center

        &::placeholder
            color: variables.$darkGrayishCyan

.results
    @media (min-width: 1024px)
        flex: 0
        min-width: 413px
